nav{width: 100%;height: 2.1rem;background-color: #202020;padding: 0 1rem;box-sizing:border-box;position: fixed;}
.logo{width: 26%;float: left;margin-top: 0.25rem;}
nav ul{width: 53%;height: 100%;float: right}
nav ul li{width: 33.3%;height: 100%;line-height: 2.1rem;float: left;text-align: center;font-size: 0.8rem;color: #fff;}
.nav_active{background-color: #ffc600;color: #000;}
.banner{width: 100%;padding-top: 2.1rem;}
.mask{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background-color: #000;z-index: 999;}
.load-box{width: 31.2%;height:5rem;background-color: #fff;position: absolute;left: 50%;margin-left: -15.6%;top: 35%;}
.loading-img{width: 100%;position: absolute;left: 0;top: 0;z-index: 10;height: 100%}
.loading{height: 100%;position: absolute;left: 0;top: 0;background-color: #000;}

.main{width: 100%;height: 20rem;background-color: #ccc;}