body,form,fieldset,legend,label,input, h1, h2, h3, p, dl, ul, ol,li, div ,span,strong,em,a,var,i,dl,dt,dd,footer,header,nav,section,article{
    margin: 0;
    padding: 0;
    font-size:0.6rem;
	font-family:"Microsoft Yahei,arial";
    /*user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;*/
}
:focus{outline:0;}
ol,ul{list-style-type:none;}
a{text-decoration:none; -webkit-tap-highlight-color:transparent;}
a:hover{text-decoration:none;}
img{border:0;vertical-align: middle;-ms-interpolation-mode: bicubic; display:block;}
em,var,i{font-style:normal;}
.clear-both{clear:both;height:0;overflow:hidden}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}